/* @import url('[https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Inter:wght@300;400;600&display=swap](https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Inter:wght@300;400;600&display=swap)'); */

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  color: #e5e5e5;
}

.card-bg {
  background: rgba(30, 30, 30, 0.6);
  backdrop-filter: blur(10px);
}